[Unit]
Description=Terrarium temperature control daemon NG
After=syslog.target
StartLimitIntervalSec=10

[Service]
Type=simple
ExecStart=/sbin/terraControl-ng.py
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=terraControl-ng.service
