
[i2c]
sensor1Addr = 0x44
sensor2Addr = 0x45
sensorSleep = 0.5

[oled]
dispOn = False
contrastDay = 127
contrastNight = 10

[pins]
heater = LED(15)
light = LED(14)
fan = LED(18)

[heating]
heatingTime = 60
heatingTimeout = 5
overheatTimeout = 60

[temperature]
dayTemp = 28
nightTemp = 24
maxTemp = dayTemp

[daynight]
dayStart = "08:00"
nightStart  = "18:00"

[logging]
logFileTemp = "tempAll.csv"
logFileTempLast10 = "tempLast10.csv"
logFileTempLast24h = "tempLast24h.csv"
logFileHum = "humAll.csv"
logFileHumLast10 = "humLast10.csv"
logFileHumLast24h = "humLast24h.csv"
logIdent = "terraControl-ng"
logPath = "/mnt/terraControl-ng"