# TerraControl-NG config file.
#
# {startDay} - When to turn on the light, and when to start heating to {tempDay}
# {startNight} - When to turn off the light, and when to stop the heater.
# {logIdent} - Identifier in system logs
# {addr} - Use 68 for 0x44 and 69 for 0x45

[global]
startDay = 08:00
startNight  = 18:00
logIdent = terraControl-ng
logsPath = /mnt/terraControl-ng
checkInterval = 10

[terra1]
enabled = True
addr = 68
pinHeater = 17
pinLight = 4
heatingTime = 60
heatingTimeout = 5
overheatTimeout = 60
tempDay = 28
tempNight = 24
logFileTempAll = terra1_tempAll.csv
logFileTempLast10 = terra1_tempLast10.csv
logFileTempLast24h = terra1_tempLast24h.csv
logFileHumAll = terra1_humAll.csv
logFileHumLast10 = terra1_humLast10.csv
logFileHumLast24h = terra1_humLast24h.csv

[terra2]
enabled = True
addr = 69
pinHeater = 22
pinLight = 27
heatingTime = 60
heatingTimeout = 5
overheatTimeout = 60
tempDay = 28
tempNight = 24
logFileTempAll = terra2_tempAll.csv
logFileTempLast10 = terra2_tempLast10.csv
logFileTempLast24h = terra2_tempLast24h.csv
logFileHumAll = terra2_humAll.csv
logFileHumLast10 = terra2_humLast10.csv
logFileHumLast24h = terra2_humLast24h.csv

[display]
displayEnabled = True
socketType = unix
socketFile = /run/terraDisplay.socket
bindIP = 127.0.0.1
bindPort = 8888
