# TerraControl-NG config file.
#
# {startDay} - When to turn on the light, and when to start heating to {tempDay}
# {startNight} - When to turn off the light, and when to stop the heater.
# {logIdent} - Identifier in system logs
# {addr} - Use 68 for 0x44 and 69 for 0x45

[globals]
startDay = 08:00
startNight  = 18:00
logIdent = terraControl-ng
logsUpdateInterval = 60

[terra1]
enabled = True
addr = 68
pinHeater = 17
pinLight = 4
heatingTime = 60
heatingTimeout = 5
overheatTimeout = 60
tempDay = 28
tempNight = 24
logFileTemp = /mnt/terraControlNG/terra1_temp.csv
logFileHum = /mnt/terraControlNG/terra1_hum.csv

[terra2]
enabled = True
addr = 69
pinHeater = 22
pinLight = 27
heatingTime = 60
heatingTimeout = 5
overheatTimeout = 60
tempDay = 28
tempNight = 24
logFileTemp = /mnt/terraControlNG/terra2_temp.csv
logFileHum = /mnt/terraControlNG/terra2_hum.csv

[display]
displayEnabled = True
displayUpdateInterval = 10
socketType = unix
socketFile = /run/terraDisplay.socket
bindIP = 127.0.0.1
bindPort = 8888
