
[sensor1]
enabled = true
sensorAddr = 0x44
sensorSleep = 0.5

[sensor2]
enabled = false
sensorAddr = 0x45
sensorSleep = 0.5

[oled]
enabled = false
contrastDay = 127
contrastNight = 10

[pins]
heater = 15
light = 14
fan = 18

[heating]
heatingTime = 60
heatingTimeout = 5
overheatTimeout = 60

[temperature]
tempDay = 28
tempNight = 24
tempMax = dayTemp

[daynight]
startDay = "08:00"
startNight  = "18:00"

[logging]
logFileTemperature = "tempAll.csv"
logFileTemperatureLast10 = "tempLast10.csv"
logFileTemperatureLast24h = "tempLast24h.csv"
logFileHumidity = "humAll.csv"
logFileHumidityLast10 = "humLast10.csv"
logFileHumidityLast24h = "humLast24h.csv"
logIdent = "terraControl-ng"
logPath = "/mnt/terraControl-ng"
